VITE_FIREBASE_API_KEY="AIzaSyCfajNtuztJzAQnTj98fsN5rU1KPPC-xpc"
VITE_FIREBASE_AUTH_DOMAIN="sunway-gdg-kl.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="sunway-gdg-kl"
VITE_FIREBASE_STORAGE_BUCKET="sunway-gdg-kl.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="689715399658"
VITE_FIREBASE_APP_ID="1:689715399658:web:3b761a591a8987a8458093"