@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }

.border-linear { border-color: #1f1f1f; }
.bg-linear-surface { background-color: #111111; }
.bg-linear-hover { background-color: #161616; }
